@font-face {
  font-family: Gilroy, serif;
  font-style: normal;
  font-weight: 700;
  src: local(''), url('assets/fonts/Gilroy/Gilroy-Bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Gilroy, serif;
  font-style: normal;
  font-weight: 900;
  src: local(''), url('assets/fonts/Gilroy/Gilroy-Heavy.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 700;
  src: local(''), url('assets/fonts/Roboto/Roboto-Bold.woff2') format('woff2');
  font-display: swap;
}

* {
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button,
input {
  outline: none;
  border: none;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.swiper-button-next-custom.swiper-button-disabled,
.swiper-button-prev-custom.swiper-button-disabled {
  background-image: url(assets/images/arrow-disabled.png);
  transform: rotate(180deg);
}

.swiper-button-prev-custom.swiper-button-disabled {
  transform: rotate(360deg);
}
